process {
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: CUSTOM_SHORTENFASTAIDS {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: '*.short.ids.tsv'
        ]
    }

    withName: LTRHARVEST {
        ext.prefix = { "${meta.id}_ltrharvest" }
    }

    withName: LTRFINDER {
        ext.args = '-harvest_out -size 1000000 -time 300'
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
    }
}