process {
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: CUSTOM_SHORTENFASTAIDS {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: '*.short.ids.tsv'
        ]
    }

    withName: LTRHARVEST {
        ext.prefix = { "${meta.id}_ltrharvest" }

        ext.args = '-size 1000000 -time 300'
    }

    withName: LTRFINDER {
        ext.args = '-harvest_out -size 1000000 -time 300'
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
    }
}

process {
    withName: REPEATMODELER_REPEATMODELER {
        ext.args = '-engine ncbi'
    }
}

process {
    // TODO: Use EDTA defaults. These params are for testing only
    withName: ANNOSINE {
        ext.args = '-a 2 --num_alignments 50000 -rpm 0 --copy_number 1 --shift 200 -auto 1'
    }

    withName: ANNOSINE_TESORTER {
        ext.args = '--disable-pass2'
    }

    withName: ANNOSINE_CLEANUP_TANDEM {
        ext.args = '-misschar N -nc 50000 -nr 0.8 -minlen 80 -minscore 3000 -trf 1 -cleanN 1 -cleanT 1'
    }
}